body {
	background-color: #DBE7FFFF;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 30px;
	margin: 0;
	height: 100%;
	/*user-select: none;*/
}

h1 {
	color: #2BC;
	text-shadow: 2px 2px #444;
	font-family: "Varela Round", sans-serif;
	font-size: 56px;
}

a.button {
	text-decoration: none;
	display: none;
	border-radius: .25rem;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: #FFF;
	border: 1px solid transparent;
	background-color: #28A745;
	border-color: #28A745;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a.button:hover {
	background-color: #218838;
	border-color: #1E7E34;
}

#refresh {
	cursor: pointer;
	display: inline-block;
	border-radius: .25rem;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: #FFF;
	border: 1px solid transparent;
	background-color: #007bff;
	border-color: #007bff;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	display: none;
}

#refresh:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

div.game {
	border: 1px solid #000;
	width: 800px;
	display: table;
	margin: 5px auto;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
}

p.title {
	margin: 0;
	font-weight: bold;
}

img.screenshot {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

p.description {
	margin: 0;
	font-size: 22px;
}

p.no-game {
	font-size: 30px;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #FFF;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #FFF transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

hr {
	border-color: #CCC;
	margin: 100px 300px;
}

#tipeee {
	display: table;
	margin: auto;
	width: 100px;
	height: 30px;
}

.paypal {
	display: table;
	margin: auto;
	text-decoration: none;
	color: white;
	background-color: #0084e3;
	border-radius: 3px;
	padding: 4px 20px;
	font-family: "Ultra", serif;
	font-size: 14px
}

.paypal:hover {
	background-color: #03518a;
}

footer {
	margin-top: 100px;
	background-color: #333;
	color: white;
	padding: 20px;
	font-size: 18px;
	height: 100%;
}
